<html>
  <head>
    <title>Time until christmas</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1 id="title">TIME UNTIL CHRISTMAS:</h1>
      <% if(days && hours){ %>
        <h2 id="timer"><%=days%> days, <%=hours%> hours</h2>
      <%}%>
      <img class="image" src="christmas.gif">
    </div>
  </body>
</html>